@import "tailwindcss";

@theme {
  --color-botao-1: #33820d;
  --color-botao-1-700: #33820db3; /* b3 = 70% de opacidade */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100vh;
  padding: 50px;
}